.castList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.castItem {
flex-basis: calc((100% - 60px) / 8);
}

.castNoPhoto{
    display: flex;
    height: 250px;
    width: 170px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    flex-direction: column;
}

.castImg{
    width: 170px;
    height: 250px;
    border-radius: 8px;
}

.castInfo {
    font-weight: bold;

}